/bin/
/node_modules/
/automation/node_modules
/stack/node_modules
/environments/node_modules
paralumi/bin/*
/example-stack/preview-stdout
/example-stack/up-stdout
/example-stack/node_modules
/example-stack/Pulumi.*.yaml